.bloque-2 {
    margin-top: 2rem;

    .bloque-2__titulo {
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 2rem;

    }

    .bloque-2__texto {
        text-align: left;
        padding-bottom: 3rem;

    }

    .bloque-2__boton {
        margin-left: 4rem;
    }

    .bloque-2__link {
        text-decoration: none;
    }

}