/*pestaña contactos*/
.form {

    margin-left: 3rem;

    .form__titulo {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1rem;
    }

    .form__text {
        font-weight: bold;
    }
}

.tit-cont {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}