/*pestaña servicios*/
.titulo {
    margin-top: 2rem;
    text-align: center;
}

.carta {
    padding-top: 2rem;

    .carta__titulo {
        text-align: center;
        text-transform: uppercase;
    }

    .carta__boton {
        text-transform: uppercase;
        font-size: 1rem;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 4rem;

    }

}